<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="LoginModal.css" />
  </head>
  <body>
    <div class="modal_body_container_Login">
      <div
        class="modal_container"
        style="
          padding: 42px 40px 62px 40px;
          background-color: #fff;
          width: fit-content;
          border-radius: 8px;
          margin: auto;
          margin-top: 5%;
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          z-index: 99;
        "
      >
        <div class="background-modal-container">
          <div class="heading_Container" style="text-align: center">
            <h2
              style="
                color: #000;
                font-weight: 700;
                font-size: 36px;
                margin-bottom: 16px;
              "
            >
              Đăng nhập
            </h2>
            <h6 style="color: rgba(0, 0, 0, 0.3); margin-bottom: 20px">
              Hãy điền thông tin đăng nhập để đặt vé
            </h6>
          </div>
          <div
            class="info_container"
            style="margin-bottom: 48px; margin-top: 36px"
          >
            <form>
              <div class="form-group" style="margin-bottom: 36px">
                <input
                  type="email"
                  class="form-control"
                  id="Password"
                  aria-describedby="PassWord_User"
                  placeholder="Email của bạn"
                />
              </div>
              <div class="form-group" style="margin-bottom: 36px">
                <input
                  type="password"
                  class="form-control"
                  id="Password"
                  aria-describedby="PassWord_User"
                  placeholder="Password của bạn"
                />
              </div>

              <div class="form-button-place" style="text-align: center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="
                    background-color: #348fac;
                    border-color: #348fac;
                    padding: 6px 30px;
                  "
                >
                  Đăng ký
                </button>
              </div>
            </form>
          </div>
          <div class="Changing_Section">
            <span style="font-weight: 700">Nếu bạn đã có tài khoản:</span>
            <button
              type="submit"
              class="btn btn-primary"
              style="padding: 6px 30px; margin-left: 60px"
            >
              Đăng nhập
            </button>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
</html>

